# Databases

export DATABASE_USERNAME=nakago
export DATABASE_PASSWORD=nakago
export DATABASE_HOSTNAME=localhost
export DATABASE_PORT=5432

DATABASE_URL_PREFIX=postgresql://${DATABASE_USERNAME}:${DATABASE_PASSWORD}@${DATABASE_HOSTNAME}:${DATABASE_PORT}

export DATABASE_NAME_ASYNC_GRAPHQL=async-graphql
export DATABASE_URL_ASYNC_GRAPHQL=${DATABASE_URL_PREFIX}/${DATABASE_NAME_ASYNC_GRAPHQL}
