export DATABASE_HOSTNAME=localhost
export DATABASE_USERNAME=my-project
export DATABASE_PASSWORD=my-project
export DATABASE_NAME=my-project
export DATABASE_PORT=5432
export DATABASE_URL=postgresql://my-project:my-project@localhost:5432/my-project

export AUTH_URL="https://my-project-dev.oauth-provider.com"
