export DATABASE_HOSTNAME=localhost
export DATABASE_USERNAME=async-graphql
export DATABASE_PASSWORD=async-graphql
export DATABASE_NAME=async-graphql
export DATABASE_PORT=1701
export DATABASE_URL=postgresql://async-graphql:async-graphql@localhost:1701/async-graphql

export AUTH_URL="https://your.oauth.server.com"
export AUTH_CLIENT_ID=client-id
export AUTH_CLIENT_SECRET=client-secret
